<div class="grid">
	<div class="col-12">
	  <div class="text-900 font-bold text-6xl mb-4 text-left">Clientes</div>
	  <div class="card">
		<h5>Lista de clientes</h5>
		<p-table [value]="clientes" [loading]="loading">
		  <ng-template pTemplate="caption">
			<div class="flex justify-content-between flex-column sm:flex-row">
			  <button pButton label="Nuevo cliente" class="p-button mb-2" icon="pi pi-plus" (click)="dialogNuevoCliente()"></button>
			  <span class="p-input-icon-left mb-2">
				<i class="pi pi-search"></i>
				<input pInputText type="text" #filter placeholder="Buscar cliente" class="w-full" />
			  </span>
			</div>
		  </ng-template>
  
		  <ng-template pTemplate="header">
			<tr>
			  <th>N</th>
			  <th>Nombres</th>
			  <th>Identificación</th>
			  <th>Fecha de ingreso</th>
			  <th>Estatus</th>
			  <th colspan="2">Acciones</th>
			</tr>
		  </ng-template>
  
		  <ng-template pTemplate="body" let-rowIndex="rowIndex" let-cliente>
			<tr>
			  <td>{{ rowIndex + 1 }}</td>
			  <td>{{ cliente.nombre }}</td>
			  <td>{{ cliente.identificacion }}</td>
			  <td>{{ cliente.fechaIngreso ? (cliente.fechaIngreso | date: 'dd/MM/yyyy') : '' }}</td>
			  <td>{{ cliente.estatus?.label || 'Sin estatus' }}</td>
			  <td>
				<button pButton icon="pi pi-pencil" class="p-button m-2" (click)="editarCliente(cliente)"></button>
				<button pButton icon="pi pi-trash" class="p-button m-2" (click)="eliminarCliente(cliente)"></button>
			  </td>
			</tr>
		  </ng-template>
  
		  <ng-template pTemplate="emptymessage">
			<tr>
			  <td colspan="8">No hay clientes registrados.</td>
			</tr>
		  </ng-template>
  
		  <ng-template pTemplate="loadingbody">
			<tr>
			  <td colspan="8">Cargando clientes...</td>
			</tr>
		  </ng-template>
		</p-table>
	  </div>
	</div>
  </div>
  
  <!-- Dialogo para agregar o editar cliente -->
  <app-dialogcliente (clienteGuardado)="onClienteGuardado($event)"></app-dialogcliente>
  